#settingPanel h1,
#settingPanel h2,
#settingPanel h3,
#settingPanel h4,
#settingPanel h5,
#settingPanel h6 {
    margin: auto;
}

#settingContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    transform: translateZ(1000px);
    pointer-events: none;
    -webkit-user-select: none;
}

/* 面板主体 */
#settingPanel {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100% - 40px);
    max-width: 800px;
    height: 90%;
    max-height: 500px;
    transform: translate(-50%, -50%);
    padding: 0;
    /*border: 1px solid #e3e8f7;*/
    box-shadow: 0 0 1px 1px var(--tasseles-theme);
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.95);
    transition: opacity 0.3s ease, visibility 0.3s ease;
    display: flex;
    flex-direction: column;
    opacity: 0; /* 初始隐藏 */
    visibility: hidden; /* 初始状态隐藏 */
    pointer-events: auto;
    /* z-index: 1002; 确保面板在遮罩之上 */
    /* transform: translateZ(1000px); */
}

/* 新增动画 */
@keyframes sp-fade-in {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
}

@keyframes sp-fade-out {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -50%) translateY(20px);
    }
}

[data-theme="dark"] #settingPanel {
    background: rgba(10, 10, 10, 0.8);
}

/* 面板显隐逻辑 */
#settingPanel.spshow {
    opacity: 1;
    visibility: visible; /* 显示面板 */
    animation: sp-fade-in 0.3s forwards; /* 应用新动画 */
}

#settingPanel.sphide {
    display: none; /* 元素隐藏时 */
}

#settingPanel.sphide-anim {
    animation: sp-fade-out 0.3s forwards; /* 应用隐藏动画 */
}

/* 遮罩样式 */
#settingMask {
    position: absolute; /* 修改为绝对定位 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    opacity: 0; /* 初始隐藏 */
    visibility: hidden; /* 初始状态隐藏 */
    transition: opacity 0.3s ease, visibility 0.3s ease;
    pointer-events: auto;
    /* z-index: 1001; /* 确保遮罩在面板下方 */
}

#settingMask.spshow {
    opacity: 1;
    visibility: visible; /* 显示遮罩 */
}
[data-theme="dark"] #settingMask {
    background: rgba(10,10,10,0.8);
}

[data-theme="dark"] #settingPanel {
    background: rgba(10, 10, 10, 0.8);
}



/* 内部元素显隐 */

#settingPanel .fade {
    transition: opacity 0.15s ease;
}

#settingPanel .hide {
    display: none; /* 元素隐藏时 */
}

#settingPanel .fade-in {
    opacity: 1;
    transition: opacity 0.15s ease; /* 0.15秒内淡入 */
}

#settingPanel .fade-out {
    opacity: 0;
    transition: opacity 0.15s ease; /* 0.15秒内淡出 */
}


/* 布局 */

#settingPanel > * {
    word-wrap: break-word;
}

#settingPanel > #settingTopBar {
    padding: 20px;
}
#settingPanel > #settingMain {
    padding: 0 20px;
}
#settingPanel > #settingBottomBar {
    padding: 20px;
}

#settingTopBar, #settingMain, #settingBottomBar {
    flex: 0 0 auto;
}

#settingMain {
    flex: 1;
    overflow-y: auto;
}

.settingPanelClose {
    float: right;
    cursor: pointer;
}

#settingTopBar {
    display: flex; /* 启用 Flexbox 布局 */
    justify-content: space-between; /* 在主轴上均匀分布子元素 */
    align-items: center; /* 在交叉轴上居中对齐子元素 */
}

#settingPanel > #settingTopBar > .settingTopBarLeft {
    display: flex; /* 让左侧内容也使用 Flexbox */
    align-items: center; /* 垂直居中对齐 */
}

#settingPanel > #settingTopBar > .settingTopBarLeft > .sp-title {
    margin: 0 8px;
}

/*
#settingPanel > #settingTopBar > .settingTopBarLeft {
    display: flex;
    align-items: center;
}

#settingPanel > #settingTopBar > .settingTopBarRight {
    display: flex;
    align-items: center;
}
*/

#settingMain {
    flex: 1 1 auto; /* 占据剩余空间 */
    overflow-y: auto; /* 允许垂直滚动 */
}
/*#settingMain > #settingItems * {
    margin: 0 0 4px;
}*/
#settingBottomBar {
    flex: 0 0 auto; /* 高度自适应内容 */
    position: sticky;
    top: 0;
}

/* 控制台附加组件 */
#settingPanel > #settingWidget > * {
    display: inline-block;
    width: 100%;
}
@media screen and  (min-width: 768px) {
    #settingPanel > #settingWidget > * {
        width: 49%;
    }
}


/*
#settingTabs {
    display: flex;
    flex-wrap: wrap;
}

#settingTabs button {
    display: flex;
    align-items: center;
    min-height: auto;
    width: auto;
    height: auto;
    flex: 1 1 auto;
    box-sizing: border-box;
}

@media screen and (width > 400px) {
    #settingTabs button {
        max-width: 320px;
    }
}

@media screen and (max-width: 400px) {
    #settingTabs button {
        flex: 1 1 100%;
    }
}
*/
#settingTabs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* 自适应列数，最小宽度 */
}

#settingTabs button {
    display: flex; /* 使用 flex 使内容居中 */
    align-items: center; /* 垂直居中内容 */
    box-sizing: border-box; /* 包含内边距和边框在内 */
    /* margin: 2px; 设置按钮之间的间距 */
}

@media screen and (width <= 400px) {
    #settingTabs {
        grid-template-columns: 1fr; /* 每行一个元素 */
    }

    #settingTabs button {
        flex: 1 1 calc(100% - 4px); /* 计算宽度以考虑外边距 */
    }
}

/* 布局，单独处理 */
#settingMain > #settingItems > #settings-general-Content * {
    margin: 2px 0;
}

#settingMain > #settingItems > #settings-info-Content b {
    margin: 0 8px 0 0;
}


/* 按钮样式 */

#settingPanel button {
    background-color: var(--tasseles-card-btn-bg);/* rgba(220, 220, 220, 0.8) */
    color: black;
    border: none;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    border-radius: 10px;
    padding: 8px 10px;
    margin: 2px;
    font-size: 1rem;
    transition: background-color 0.15s, border-color 0.15s, transform 0.15s ease; 
}

#settingPanel > #settingMain button {
    background-color: var(--tasseles-card-btn-bg);
    box-shadow: inset 0 0 1px 1px var(--tasseles-theme);
    padding: 10px;
}

#settingPanel > #settingTopBar button {
    background-color: transparent;
    padding: 0;
    margin: 0;
}
#settingPanel > #settingBottomBar button {
    background-color: transparent;
    padding: 0 8px;
    margin: 0;
}

#settingPanel button:active {
    transform: scale(0.95);  
}

#settingPanel button:hover {
    background-color: rgba(200,200,200,0.8);
}
#settingPanel > #settingMain button:hover {
    background-color: var(--tasseles-card-btn-hoverbg);
}
@media screen and (width <= 400px) {
    #settingPanel button {
        margin: 2px 0;
    }
}

/* 深色主题按钮样式 */
[data-theme="dark"] #settingPanel button {
    background-color: rgba(10,10,10,0.8);
    color: white;
}

[data-theme="dark"] #settingPanel button:hover {
    background-color: rgba(120,120,120,0.8);
}

/* 特定容器中的按钮样式 */

#settingPanel > #settingMain .settingFontSwitchStyle {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* 自适应列数，最小宽度 */
}

#settingPanel > #settingMain .settingFontSwitchStyle button {
    display: flex; /* 使用 flex 使内容居中 */
    align-items: center; /* 垂直居中内容 */
    box-sizing: border-box; /* 包含内边距和边框在内 */
}

/*#settingPanel .aTabsStyle {
    display: flex;
    flex-wrap: wrap;
}

#settingPanel .aTabsStyle > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin: 2px !important;
    font-size: 1rem;
    padding: 10px;
    color: black;
    background-color: var(--tasseles-card-btn-bg);
    box-shadow: inset 0 0 1px 1px var(--tasseles-theme);
    border-radius: 10px;
    box-sizing: border-box;
}

#settingPanel .aTabsStyle > a:hover {
    background-color: var(--tasseles-card-btn-hoverbg);
}*/
/*
color: black;
border: none;
text-align: left;
text-decoration: none;
cursor: pointer;
border-radius: 10px;
padding: 8px 10px;
margin: 2px;
font-size: 1rem;
padding: 10px;

background-color: var(--tasseles-card-btn-bg);
box-shadow: inset 0 0 1px 1px var(--tasseles-theme);
background-color: var(--tasseles-card-btn-hoverbg);
*/
/*#settingPanel .aTabsStyle > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin: 2px !important;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid orange;
    border-radius: 10px;
    box-sizing: border-box;
}

#settingPanel .aTabsStyle > a:hover {
    background-color: rgba(220,220,220,0.8);
}

[data-theme="dark"] #settingPanel .aTabsStyle > a {
    color: white;
    background-color: rgba(10,10,10,0.8);
}

[data-theme="dark"] #settingPanel .aTabsStyle > a:hover {
    background-color: rgba(120,120,120,0.8);
}
*/

/* 背景切换部分 */
#settingPanel .bgbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#settingPanel .pimgbox,
#settingPanel .imgbox,
#settingPanel .colorbox {
    width: 160px;
    margin: 10px;
    background-size: cover;
    transition: transform 0.15s ease;
}

#settingPanel .pimgbox:active,
#settingPanel .imgbox:active,
#settingPanel .colorbox:active {
    transform: scale(0.95);  
}

#settingPanel .pimgbox,
#settingPanel .imgbox {
    border-radius: 10px;
    overflow: hidden;
}

#settingPanel .pimgbox {
    height: 240px;
}

#settingPanel .imgbox {
    height: 95px;
}

#settingPanel .colorbox {
    height: 100px;
}

@media screen and (max-width: 768px) {
    #settingPanel .pimgbox,
    #settingPanel .imgbox,
    #settingPanel .colorbox {
        height: 80px;
        width: 120px;
    }
    #settingPanel .pimgbox {
        height: 200px;
    }
}

@media screen and (max-width: 375px) {
    #settingPanel .pimgbox,
    #settingPanel .imgbox,
    #settingPanel .colorbox {
        height: 80px;
        width: 100px;
    }
    #settingPanel .pimgbox {
        height: 200px;
    }
}

/* Switch 开关样式 */
/*#settingPanel .settingSwitchCheckBox > * {
    margin: 0 0 12px;
}*/
#settingPanel .settingSwitchCheckBox > .settingSwitchCheckBoxMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* 开关增强样式 */
#settingPanel .settingSwitchCheckBox input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40px;
    height: 20px;
    background-color: transparent;
    border: 1px solid var(--tasseles-black);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]::before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 2px;
    background-color: var(--tasseles-black);
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1), 
                width 0.2s ease, 
                background-color 0.2s ease;
}

/* 暗黑模式适配 */
[data-theme="dark"] #settingPanel .settingSwitchCheckBox input[type="checkbox"] {
    border-color: white;
}

[data-theme="dark"] #settingPanel .settingSwitchCheckBox input[type="checkbox"]::before {
    background-color: white;
}

[data-theme="dark"] #settingPanel .settingSwitchCheckBox input[type="checkbox"]:not(:checked):active::before {
    background-color: white;
}

/* 不同状态下的效果 */
#settingPanel .settingSwitchCheckBox input[type="checkbox"]:checked {
    background-color: var(--tasseles-blue-2);
    border-color: var(--tasseles-gray);
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]:checked::before {
    transform: translateX(calc(40px - 15px - 5px)) translateY(-50%);
    background-color: white;
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]:active {
    background-color: var(--tasseles-gray-op);
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]:active::before {
    background-color: white;
    width: 18px; /* 按压放大效果 */
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]:not(:checked):active {
    background-color: var(--tasseles-gray-op);
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]:not(:checked):active::before {
    background-color: var(--tasseles-black);
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]:checked:active {
    background-color: var(--tasseles-gray);
}

#settingPanel .settingSwitchCheckBox input[type="checkbox"]:checked:active::before {
    background-color: white;
    transform: translateX(calc(40px - 18px - 5px)) translateY(-50%);
}


/* Radio 样式 */
#settingPanel .settingRadioGroupMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* 允许换行 */
}

#settingPanel .settingRadioGroupMain > .content-text {
    flex: 1 1 auto; /* 使其可以挤压和内部换行 */
}
/*
#settingPanel .settingRadioGroupMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
*/
/*
#settingPanel .settingRadioGroupOption {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
*/
#settingPanel input[type="radio"] {
    display: none; /* 隐藏默认的 radio 按钮 */
}

#settingPanel .settingRadioGroupOption label {
    padding: 2px 8px;
    margin: 2px !important;
    /*background-color: var(--tasseles-card-bg);*/
    background-color: transparent;
    box-shadow: inset 0 0 1px 1px var(--tasseles-card-border);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.15s, border-color 0.15s, transform 0.15s ease;
    display: inline-block;
    text-align: center;
    transition: 
}

#settingPanel .settingRadioGroupOption label:hover {
    background-color: var(--tasseles-card-btn-hoverbg);  
}

#settingPanel .settingRadioGroupOption label:active {
    transform: scale(0.95); 
}

#settingPanel .settingRadioGroupOption input[type="radio"]:checked + label {
    background-color: var(--tasseles-blue-2) ;/* rgba(64,158,255,1); 选中时的背景颜色 */
    /*box-shadow: inset 0 0 1px 1px var(--tasseles-card-border);*//* #0056b3; 选中时的边框颜色 */
    color: white;
}

/*#settingPanel .settingRadioGroupOption input[type="radio"]:hover + label {
    border-color: #007bff;
}*/

/* 面板附加元素控制 */
#fpsDisplayElement {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
    pointer-events: none;
    padding: 5px;
    border-radius: 5px;
}
[data-theme="dark"] #fpsDisplayElement {
    position: fixed;
    bottom: 5px;
    right: 5px;
    color: white;
    background-color: rgba(5,5,5,0.6);
    pointer-events: none;
    padding: 5px;
    border-radius: 5px;
}

/* 装饰性内容 */
.highlighter-green {
    font-weight: bolder;
    background: linear-gradient(104deg, rgba(40,167,69,0) 0.9%, rgba(40,167,69,1.25) 2.4%, rgba(40,167,69,0.5) 5.8%, rgba(40,167,69,0.1) 93%, rgba(40,167,69,0.7) 96%, rgba(40,167,69,0) 98%), linear-gradient(183deg, rgba(40,167,69,0) 0%, rgba(40,167,69,0.3) 7.9%, rgba(40,167,69,0) 15%);
    padding: 0.6em 13.7px;
    -webkit-box-decoration-break: clone;
    margin: 0;
    border-radius: 7.5px;
    text-shadow: -12px 12px 9.8px rgba(40,167,69,0.7), 21px -18.1px 7.3px rgba(255,255,255,1), -18.1px -27.3px 30px rgba(255,255,255,1);
}

#settingPanel > #settingMain .quoteStyle {
    padding: 10px;
    border-left: 5px solid #ccc!important;
    border-color: #2196F3!important;
    margin: 4px;
}


/* widget 布局 */
#settingWidget {
    display: flex;
    flex-wrap: wrap; /* 允许换行 */
    justify-content: space-between; /* 每行元素自动撑满宽度 */
}

#settingWidget > * {
    flex-grow: 1; /* 允许子元素拉伸以填充可用空间 */
    min-width: 150px; /* 设置每个子元素的最小宽度 */
    height: auto; /* 高度自适应 */
    margin: 5px; /* 子元素间距 */
    box-sizing: border-box; /* 包含内边距和边框在内的宽高计算 */
}

/* 确保同一行的子元素高度相同 */
#settingWidget > * {
    align-items: stretch; /* 使子元素高度一致 */
}

/* widget 内容 */

.sp-cal-card {
    background-color: rgba(255,255,255,0.4);
    border-radius: 10px;
    padding: 4px;
    width: 250px; /* 可以调整宽度 */
    max-width: 320px;
}
[data-theme="dark"] .sp-cal-card {
    background-color: rgba(10,10,10,0.4);
}
.sp-cal-header {
    text-align: center;
    margin-bottom: 4px;
}

.sp-cal-button {
    padding: 4px!important;
    margin: 4px!important;
    cursor: pointer;
    border: none;
    /*background-color: rgba(220,220,220,0.8);*/
    color: white;
    border-radius: 4px!important;
}
/*[data-theme="dark"] .sp-cal-button {
    background-color: rgba(200,200,200,0.8);
}*/


/*.sp-cal-button:hover {
    background-color: #0056b3;
}*/
.sp-calendar {
    display: flex;
    flex-direction: column;
}
.sp-cal-days-of-week {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}
.sp-cal-day {
    width: calc(100% / 7); /* 每列占七分之一 */
    min-height: auto; /* 每个格子的高度 */
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    /*font-size: 16px;*/
    border: 1px solid transparent;
    box-sizing: border-box;
}
.sp-cal-current-day {
    background-color: var(--tasseles-blue-2);
    color: white;
    border-radius: 4px;
}
.sp-cal-other-month {
    color: gray;
}

.sp-test {
    background-color: var(--tasseles-gray-op);
}