

/* Pug 魔改播放器，现已下线 */
/*body:has(#srMusic-page) #web_bg {
  background-image: var(--tasseles-card-bg) !important;
}*/
#page:has(#srMusic-page) {
  border: 0;
  box-shadow: none !important;
  padding: 0 !important;
  background: transparent !important;
}
#content-inner:has(#srMusic-page) {
  padding: 10px 15px !important;
}
#srMusic_bg {
  display: none;
  -webkit-filter: blur(40px);
  filter: blur(40px);
  opacity: 0.3;
  position: fixed;
  z-index: -999;
  background-attachment: local;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 200%;
  height: 200%;
  top: -50%;
  left: -50%;
  transform: rotate(0deg);
}
[data-theme="dark"] #srMusic_bg {
  opacity: 0.4;
}

/*body:has(#srMusic-page) {
  background: var(--tasseles-black-trans);
}
*/

body:has(#srMusic-page) #srMusic_bg {
  display: block;
}

#srMusic-page meting-js .aplayer {
  display: flex;
  flex-direction: row-reverse;
  background: transparent !important;
  border: none;
  box-shadow: none;
}

body:has(#srMusic-page) #web_bg {
  display: none !important;
}
body:has(#srMusic-page) #nav {
  box-shadow: none !important;
  background: transparent !important;
}
body:has(#srMusic-page) #footer {
  display: none;
}

#srMusic-page .aplayer-body {
  width: 50%;
  height: 70vh;
}

#srMusic-page ol > li:hover {
  border-radius: 6px;
}
#srMusic-page .aplayer-pic {
  float: none;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin: auto;
  left: 0;
  right: 0;
}

#srMusic-page .aplayer-info {
  margin: 0 20px 0 20px;
  border-bottom: none;
}

#srMusic-page .aplayer-info .aplayer-music {
  text-align: center;
  height: auto;
  margin: 5px;
}

#srMusic-page .aplayer-info .aplayer-music .aplayer-author,
#srMusic-page .aplayer-info .aplayer-music .aplayer-title {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--font-color);
}


#srMusic-page .aplayer-info .aplayer-lrc {
  /*height: 250%;*/
  height: calc(100vh - 400px);
  margin-top: 10px;
  /*mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
  mask-image: linear-gradient(to bottom, #0000, #000 10%, #000 90%, #0000);
  mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);*/
  mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
}
#srMusic-page .aplayer-info .aplayer-lrc p {
  font-size: 0.9rem;
  text-shadow: none !important;
  color: var(--font-color) !important;
}
#srMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
  /*font-size: 1.1rem;
  line-height: 1.2rem !important;
  margin: 10px 0 !important;*/
  font-size: 1.1rem;
  line-height: 1.2rem !important;
  padding: 5px 2px !important;
  margin: 5px 0 !important;
  background-color: var(--tasseles-gray-op);
  border-radius: 10px;
}
#srMusic-page .aplayer .aplayer-lrc:after,
#srMusic-page .aplayer .aplayer-lrc:before {
  display: none;
}

/*#srMusic-page .aplayer-info .aplayer-lrc {
  height: 250%;
  margin-top: 20px;
  mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
}
#srMusic-page .aplayer-info .aplayer-lrc p {
  font-size: 1rem;
  margin: 8px 0 !important;
}
#srMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
  font-size: 1.1rem;
}

#srMusic-page .aplayer .aplayer-lrc:after,
#srMusic-page .aplayer .aplayer-lrc:before {
  display: none;
}*/

/*
#srMusic-page .aplayer-info .aplayer-lrc {
  height: 800%;
  margin-top: 80px;
  mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #000, #000, #000, #000, #000, #000, #0000, #0000);
}
#srMusic-page .aplayer-info .aplayer-lrc p {
  font-size: 14px;
}
#srMusic-page .aplayer .aplayer-lrc:after,
#srMusic-page .aplayer .aplayer-lrc:before {
  display: none;
}
*/

/* 控制器 */
#srMusic-page .aplayer-info .aplayer-controller {
  position: fixed;
  max-width: 1500px;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 25px;
}
#srMusic-page .aplayer-info .aplayer-controller::before {
  content: '';
  position: absolute;
  top: -20px;
  left: 5px;
  width: calc(100% - 10px);
  height: 45px;
  background: var(--tasseles-white-op);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
/*[data-theme="dark"] #srMusic-page .aplayer-info .aplayer-controller::before {
  background: var(--tasseles-white-op);
}*/

#srMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
  margin: 0 160px 0 150px;
  padding: 0 0;
  cursor: pointer !important;
  flex: 1;
}
#srMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar {
    position: relative;
    height: 6px;
    width: 100%;
    border-radius: 6px;
}
#srMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-loaded {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 6px;
    border-radius: 6px;
}

#srMusic-page .aplayer-info .aplayer-controller .aplayer-played {
    height: 6px;
    border-radius: 6px;
}

#srMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap .aplayer-bar .aplayer-played .aplayer-thumb {
    width: 13px;
    height: 13px;
    margin-top: -4px;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    background: #fff !important;
    border: 1px solid #000;
}

#srMusic-page .aplayer-info .aplayer-time .aplayer-icon-back,
#srMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward,
#srMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
  display: inline;
  position: fixed;
}
#srMusic-page .aplayer-info .aplayer-time {
  position: absolute;
  width: 100%;
  bottom: 20px;
  height: 0;
  display: flex;
  justify-content: flex-end;
  color: var(--font-color);
}
#srMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
  margin-right: 50px;
  margin-top: -1px;
}
#srMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
  position: absolute;
  left: 0;
}
#srMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
  position: absolute;
  left: 40px;
}
#srMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
  position: absolute;
  left: 80px;
}

#srMusic-page .aplayer-info .aplayer-time .aplayer-icon {
  width: 2rem;
  height: 2rem;
  margin-left: 15px;
}

#srMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
  display: none;
}

#srMusic-page .aplayer-volume-bar-wrap {
  bottom: 0px;
  right: 12px;
  width: 15px;
  border-radius: 5px;
}

#srMusic-page .aplayer-volume-bar {
  width: 100%;
  height: 100%;
  left: 0;
  border-radius: 5px;
}

#srMusic-page .aplayer-volume {
  width: 100%;
  /*background: var(--tasseles-blue-2) !important;*/
  background: var(--tasseles-theme) !important;
}

#srMusic-page .aplayer-info .aplayer-time .aplayer-icon path {
  opacity: 0.8;
}

#srMusic-page .aplayer-list {
  width: 50%;
  max-height: none !important;
  height: 100%;
  z-index: inherit;
}
[data-theme="dark"] #srMusic-page .aplayer-list {
  color: var(--tasseles-white);
  width: 50%;
  max-height: none !important;
  height: 100%;
  z-index: inherit;
}

#srMusic-page ol {
  /*max-height: 65vh !important;*/
  max-height: calc(100vh - 180px) !important;
  padding-right: 10px;
}
#srMusic-page ol > li {
  position: relative;
  border-top: 1px solid transparent;
  font-size: 1rem;
}
#srMusic-page ol > li.aplayer-list-light {
  /*background: rgb(255 255 255 / 20%);*/
  background: var(--tasseles-theme);
  border-radius: 6px;
}

#srMusic-page ol > li.aplayer-list-light .aplayer-list-cur {
  display: none;
}
#srMusic-page ol > li span.aplayer-list-author {
  opacity: 0.6;
  color: var(--font-color);
}

/* 导航栏 */
body:has(#srMusic-page) .aplayer .aplayer-info .aplayer-controller .aplayer-time .aplayer-icon.aplayer-icon-loop {
  margin-right: 15px;
}

/* **** 移动端样式 ***** */
@media screen and (max-width: 768px) {
  body:has(#srMusic-page) #rightside {
    display: none;
  }

  #srMusic-page meting-js .aplayer {
    background: transparent !important;
    border-radius: inherit;
  }

  #srMusic-page .aplayer-body {
    /*background: var(--tasseles-card-bg) !important;*/
    border-radius: 10px;
    width: 100%;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    /*top: 70px;*/
    padding: 10px 0 !important;
  }

  #srMusic-page .aplayer-body .aplayer-pic {
    border-radius: 50%;
  }

  #srMusic-page .aplayer-list {
    position: fixed;
    width: 75%;
    max-width: 300px;
    left: -75%;
    bottom: 0;
    /*top: 50%;
    transform: translateY(-50%);*/
    height: auto;
    border-radius: 0px 5px 5px 0px;
  }
  #srMusic-page .aplayer-list::before {
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: 100%;
    background: var(--tasseles-white-op);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
  }
  /*[data-theme="dark"] #srMusic-page .aplayer-list::before {
    background: var(--tasseles-white-op);
  }*/

  #srMusic-page .aplayer-list.aplayer-list-hide {
    left: 0% !important;
  }
  #srMusic-page ol {
    max-height: 70vh !important;
    padding-right: 0px;
    padding: 5px 0;
  }
  #srMusic-page ol::-webkit-scrollbar {
    background-color: var(--tasseles-gray-op);
  }
  #srMusic-page ol::-webkit-scrollbar-thumb {
    border-radius: 0px 5px 5px 0px;
  }
  #srMusic-page ol > li {
    display: flex;
    margin: 0 4px;
  }
  #srMusic-page ol > li span.aplayer-list-title {
    width: 30%;
  }
  #srMusic-page ol > li.aplayer-list-light {
    background: var(--tasseles-theme);
    padding: 5px 10px;
    border-radius: 10px;
  }
  #srMusic-page ol > li span.aplayer-list-title {
    max-width: 55%;
    width: auto;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  #srMusic-page ol > li span.aplayer-list-author {
    position: absolute;
    right: 10px;
    width: auto;
    max-width: 35%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  #srMusic-page ol > li.aplayer-list-light span.aplayer-list-author {
    right: 15px;
  }

  #srMusic-page .aplayer-info {
    padding: 0px 7px 0;
  }
  #srMusic-page .aplayer-info .aplayer-lrc {
    margin-top: 0px;
    /*height: auto;
    max-height: 200%;
    min-height: 100%;*/
    /*mask-image: linear-gradient(to bottom, #000, #000, #000, #000, #0000, #0000);*/
    mask-image: linear-gradient(to bottom, #000 90%, transparent 100%);
  }
  #srMusic-page .aplayer-info .aplayer-lrc {
    font-size: 12px;
  }
  #srMusic-page .aplayer-info .aplayer-lrc p.aplayer-lrc-current {
    color: var(--tasseles-main);
  }

  #srMusic-page .aplayer-info .aplayer-controller {
    width: 100%;
    bottom: 60px;
  }

  #srMusic-page .aplayer-info .aplayer-controller::before {
    content: '';
    position: absolute;
    top: -25px;
    left: 10px;
    width: calc(100% - 20px);
    height: 90px;
    border-radius: 10px 10px 0 0;
  }

  #srMusic-page .aplayer-info .aplayer-controller .aplayer-bar-wrap {
    margin: 0 30px;
  }
  #srMusic-page .aplayer-info .aplayer-time {
    bottom: -10px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-time-inner {
    position: absolute;
    width: 100%;
    margin-right: 0;
    margin-top: -32px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-dtime {
    position: absolute;
    right: 30px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-time-inner .aplayer-ptime {
    position: absolute;
    left: 30px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-icon-back {
    margin: auto;
    right: 100px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-icon-play {
    margin: auto;
    right: 0;
    left: 10px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-icon-forward {
    margin: auto;
    left: 115px;
    right: 0;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-icon-order {
    position: absolute;
    left: 25px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-icon-loop {
    position: absolute;
    right: 25px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu {
    display: inline;
    position: absolute;
    right: 25px;
    top: -90px;
  }
  #srMusic-page .aplayer-info .aplayer-time .aplayer-icon-menu::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 32px;
    background: var(--tasseles-white-op);
    border-radius: 50%;
  }
  #srMusic-page .aplayer-volume-bar-wrap {
    bottom: 0px;
    right: 10px;
  }
  #srMusic-page .aplayer .aplayer-info .aplayer-controller .aplayer-volume-wrap {
    left: -66px;
  }
}